@use './styles/variables' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.red-btn {
    background-color: $red;
}

.pointer:hover {
    cursor: pointer;
}